<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
						</legend>
						<div class="uk-child-width-1-5@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.name">
									<label>Device Type</label>
								</ScInput>
							</div>
							<div>
								<label class="uk-form-label">
									Device Brand
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											v-model="mData.devices_brand_id"
											:options="deviceBrandList"
											:settings="{ 'width': '100%', 'placeholder': 'Select a Device brand...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
							<div>
								<ScInput v-model="mData.memory">
									<label>Memory</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.processor">
									<label>Processor</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.resolution">
									<label>Resolution</label>
								</ScInput>
							</div>
						</div>
					</fieldset>
				</form>
			</ScCard>
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark">
				<i class="mdi mdi-checkbox-marked-circle-outline"></i>
			</a>
		</div>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/plugins/v-money');
		require('~/assets/js/vendor/jquery.creditCardValidator.js');
		require('~/plugins/gmaps')
	}
	export default {
		components: {
			Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
		},
		async asyncData(context){
			const listDeviceBrand = await context.$axios.get('masterdata/device/brand/list/page=1/limit=100/column-sort=id/sort=desc')
			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			if (context.params.id === 'add'){
				return {
					listDeviceBrand: listDeviceBrand.data.data,
					listData: listData,
					editedIndex: editedIndex,
				}
			}else{
				listData = await context.$axios.get(`masterdata/device/type/list/id=${context.params.id}/page=1/limit=10/sort=desc`)
				editedIndex = 1
				return {
					listDeviceBrand: listDeviceBrand.data.data,
					listData: listData.data.data[0],
					editedIndex: editedIndex,
				}
			}
		},
		data: () => ({
			inputFormat: {},
			mData: {
				name: '',
				devices_brand_id: '',
				resolution: '',
				memory: '',
				processor: '',
			},
			listDeviceType: []
		}),
		created	(){
			if (this.listData !== null){
				this.mData = {
					id: this.listData.id,
					name: this.listData.device_type_name,
					devices_brand_id: this.listData.devices_brand_id.toString(),
					resolution: this.listData.resolution,
					memory: this.listData.memory,
					processor: this.listData.processor,
				}
				this.onChangeDevBrand()
			}
		},
		computed: {
			deviceBrandList () {
				return this.listDeviceBrand.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});

			},
			deviceTypeDisabled () {
				return this.mData.id_device_brand === '' || this.mData.id_device_brand === null;
			},
			formTitle(){
				return this.editedIndex === -1 ? 'Add Device Type' : 'Edit Device Type'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"></i>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"></i>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"></i>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"></i>'
			},
		},
		methods: {
			onChangeDevBrand(){
				if (this.mData.id_device_brand !== null || this.mData.id_device_brand !== ''){
					this.$store.dispatch('masterdata/getListDeviceTypeByBrandId', this.mData.id_device_brand)
						.then((res) => {
							this.listDeviceType = res.data.map(function (obj) {
								obj.id = obj.id || obj.id;
								obj.text = obj.name || obj.name;
								return obj;
							});
							// console.log(this.listDeviceType)
						})
				}
				// console.log(this.mData.id_device_brand)
			},
			bCancel(){
				this.$nuxt.$router.push('/masterdata/device/device-type')
			},
			submit(){
				// console.log()
				let textNotifSucced = 'Add Device Type Success'
				let textNotifFailed = 'Add Device Type Failed'
				let actions = 'addDeviceType'
				if (this.editedIndex !== -1){
					textNotifSucced = 'Update Device Type Success'
					textNotifFailed = 'Update Device Type Failed'
					actions = 'editDeviceType'
				}
				// this.editedIndex === -1 ? textNotifSucced = 'Add Service Center Success' : textNotifFailed = 'Update Service Center Success'
				this.$store.dispatch('masterdata/'+actions, this.mData)
					.then((res) => {
						if(res.success){
							this.mData = {}
							this.showNotification(textNotifSucced, false, 'success')
							this.$nuxt.$router.push('/masterdata/device/device-type')

							// console.log(res.success)
						}else{
							this.showNotification(res.message, false, 'danger')
						}

					})
					.catch((err) => {
						console.log(err)
					})
			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
