<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-top-bar" class="sc-top-bar">
			<div class="sc-top-bar-content sc-padding-medium-top sc-padding-medium-bottom uk-flex-1">
				<div class="uk-flex-1">
					<h1 class="sc-top-bar-title">
						Customer
					</h1>
					<span class="uk-text-muted">
						Raja Repair
					</span>
				</div>
				<div class="sc-actions uk-margin-left">
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-printer"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-archive"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-dots-vertical"></a>
				</div>
			</div>
		</div>
		<div id="sc-page-content">
			<ScCard>
				<ScCardBody>
					<VueGoodTable
						mode="remote"
						@on-page-change="onPageChange"
						@on-sort-change="onSortChange"
						@on-column-filter="onColumnFilter"
						@on-per-page-change="onPerPageChange"
						@on-search="onSearch"
						@on-row-dblclick="onRowDoubleClick"
						:totalRows="totalRecords"
						:isLoading.sync="isLoading"
						:columns="columns"
						:rows="rows"
						:pagination-options="{ enabled: true }"
						style-class="uk-table uk-table-divider scutum-vgt"
						:search-options="{
							enabled: true,
							placeholder: 'Search this table',
						  }"
					>
						<template slot="table-row" slot-scope="props">
							<span v-if="props.column.field === 'register_type'" class="uk-label" :class="[registerTypeLabel(props.row.register_type)]">
								{{ props.row.register_type }}
							</span>
							<span v-else-if="props.column.field === 'phone'" :class="{'uk-label' : props.row.phone === null, 'uk-label-outline': props.row.phone === null}">
								{{ props.row.phone === null ? 'phone not register' : props.row.phone }}
							</span>
							<div  v-else-if="props.column.field === 'img_url'" class="sc-list-addon">
								<div v-if="!isEmpty(props.row.img_url)" class="uk-display-inline-block">
									<div class="sc-avatar-wrapper">
										<img :src="props.row.img_url" alt="alt" class="sc-avatar">
<!--										<img v-else :src="avatarDefault" alt="alt" class="sc-avatar">-->
									</div>
								</div>
								<span v-else :class="{'uk-label' : true, 'uk-label-outline': true}">
									no image
								</span>
							</div>
<!--							<nuxt-link v-else-if="props.column.field === 'title'" :to="'/pages/issues/details/' + props.row.id">-->
<!--								{{ props.row.title }}-->
<!--							</nuxt-link>-->
<!--							<span v-else-if="props.column.field === 'user'">-->
<!--								{{ props.row.user }}-->
<!--							</span>-->
							<template v-else>
								{{ props.formattedRow[props.column.field] }}
							</template>
						</template>
					</VueGoodTable>
				</ScCardBody>
			</ScCard>
		</div>
	</div>
</template>

<script>
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { mapGetters } from 'vuex'
import ScAvatar from '~/components/Avatar'


export default {
	components: {
		VueGoodTable,
		ScAvatar,
	},
	async asyncData(context){
		const listItems = await context.$axios.get('masterdata/users/list/page=1/limit=10/column-sort=id/sort=desc/column-filter=null')
		// console.log(listItems.data)
		return {
			rows: listItems.data.data,
			totalRecords: listItems.data.paginate.totalRow,
		}
	},
	data: () => ({
		question: '',
		answer: 'I cannot give you an answer until you ask a question!',
		isLoading: false,
		progress: false,
		// totalRecords: 0,
		serverParams: {
			columnFilters: {
				email: '',
				name: ''
			},
			sort: {
				field: 'id',
				type: 'desc',
			},
			page: 1,
			perPage: 10,
			searchVal: ''
		},
	}),
	computed: {
		...mapGetters({
			issues: 'issues/issues'
		}),
		columns () {
			return [
				// {
				// 	label: 'Id',
				// 	field: 'issueId',
				// 	sortable: true,
				// 	sortFn: this.issueIdSort,
				// 	tdClass: 'uk-text-center uk-text-nowrap'
				// },
				{
					label: 'Sign With',
					field: 'register_type',
					tdClass: 'uk-text-center',
					filterOptions: {
						enabled: true,
						filterDropdownItems: ['google', 'manual']
					}
				},
				{
					label: 'Email',
					field: 'email',
					filterOptions: {
						enabled: true
					}
				},
				{
					label: 'Name',
					field: 'name',
					filterOptions: {
						enabled: true
					}
				},
				{
					label: 'Phone',
					field: 'phone'
				},
				{
					label: 'Registered On',
					field: 'created_at',
					type: 'date',
					dateInputFormat: 'yyyy-MM-dd HH:mm:ss',
					dateOutputFormat: 'MMM do yyyy',
					tdClass: 'uk-text-nowrap uk-text-left'
				},
				{
					label: 'Photo',
					field: 'img_url'
				},
				// {
				// 	label: 'Modified On',
				// 	field: 'modified',
				// 	type: 'date',
				// 	dateInputFormat: 'yyyy-MM-dd',
				// 	dateOutputFormat: 'MMM do yyyy',
				// 	tdClass: 'uk-text-nowrap uk-text-left'
				// }
			]
		},
		'avatarDefault'(){
			return require('~/assets/img/avatars/default-avatar.png')
		}
	},
	methods: {
		registerTypeLabel (priority) {
			let priorityClass = null;
			switch (priority) {
				case 'google':
					priorityClass = 'uk-label-success';
					break;
				case 'manual':
					priorityClass = 'uk-label-warning';
					break;
				case 'critical':
					priorityClass = 'uk-label-warning';
					break;
				case 'blocker':
					priorityClass = 'uk-label-danger';
					break;
				default:
			}
			return priorityClass;
		},
		issueIdSort (x, y, col, rowX, rowY) {
			const _x = parseInt(x.replace("sc-", ""));
			const _y = parseInt(y.replace("sc-", ""));
			return (_x < _y ? -1 : (_x > _y ? 1 : 0));
		},
		deleteItem(e, row){
			const self = this;
			let index = this.listItemTable.data.map(function (item) {
				return item.id
			}).indexOf(row.id);
			UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
				'escClose': false,
				'labels': {
					'cancel': 'Cancel',
					'ok': 'Delete'
				}
			}).then(function () {
				// DELETED
				self.$store.dispatch('masterdata/safeDeleteTechnician', row.id)
				// e.target.closest('td').classList.add("uk-animation-reverse", "uk-animation-slide-right");
				setTimeout(() => {
					self.listItemTable.data.splice(index, 1);
					// self.loadItems(false);
				}, 300);
			}, function () {
				// CANCEL DELETE
				// console.log('Rejected.')
			});
			// this.$store.commit('masterdata/deleteSc')
			// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
			// console.log(idx)
		},
		onRowDoubleClick(){
			alert('open details')
		},
		mDetails(){
			this.$nuxt.$router.push('users/details/add')
		},
		mEdit(item){
			this.$nuxt.$router.push(`technician/details/${item.id}`)
			// console.log(item)
		},
		onSearch(params) {
			this.updateParams({searchVal: params.searchTerm, page: 1});
			if (params.searchTerm.length > 2){
				this.loadItems(true);
			}else if (params.searchTerm.length === 0){
				this.loadItems(null)
			}
			// params.searchTerm - term being searched for
			// params.rowCount - number of rows that match search
		},
		updateParams(newProps) {
			this.serverParams = Object.assign({}, this.serverParams, newProps);
			// console.log(this.serverParams)
		},
		// load items is what brings back the rows from server
		loadItems(isSearch) {
			if(isSearch){
				this.$store.dispatch('masterdata/getListSearchUsers', this.serverParams)
					.then((res) => {
						this.totalRecords = res.paginate.totalRow
						this.rows = res.data
						this.isLoading = false
					})
			}
			else{
				this.$store.dispatch('masterdata/getListUsers', this.serverParams)
					.then((res) => {
						this.totalRecords = res.paginate.totalRow
						this.rows = res.data
						this.isLoading = false
						// console.log(res)
					})
			}

		},
		onPageChange(params){
			this.updateParams({page: params.currentPage});
			this.loadItems(false);
		},
		onSortChange(params){
			this.updateParams({
				sort: {
					type: params[0].type,
					field: params[0].field,
				},
			});
			console.log(this.serverParams)
			this.loadItems(false);
		},
		onColumnFilter(params) {
			this.updateParams(params);
			this.loadItems(false);
		},
		onPerPageChange(params){
			this.updateParams({perPage: params.currentPerPage});
			this.loadItems(false);
		},
		onSelectChanged (params) {
			const selectedIds = params.selectedRows.reduce((acc, row) => {
				acc.push(row.id);
				return acc;
			}, []);
			// console.log(params.selectedRows);
			// console.log(selectedIds);
		},
	},
}
</script>

<style lang="scss">
	@import '~scss/plugins/vue-good-table.scss';
</style>
