<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-top-bar" class="sc-top-bar">
			<div class="sc-top-bar-content sc-padding-medium-top sc-padding-medium-bottom uk-flex-1">
				<div class="uk-flex-1">
					<h1 class="sc-top-bar-title">
						Order Transaction
					</h1>
					<span class="uk-text-muted">
						Raja Repair
					</span>
				</div>
				<div class="sc-actions uk-margin-left">
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-printer"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-archive"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-dots-vertical"></a>
				</div>
			</div>
		</div>
		<div id="sc-page-content">
			<ScCard>
				<ScCardBody>
					<VueGoodTable
						mode="remote"
						@on-page-change="onPageChange"
						@on-sort-change="onSortChange"
						@on-column-filter="onColumnFilter"
						@on-per-page-change="onPerPageChange"
						@on-search="$route.params.matpel.replace(/-/g, ' ')"
						@on-row-dblclick="onRowDoubleClick"
						:totalRows="totalRecords"
						:isLoading.sync="isLoading"
						:pagination-options="{
							enabled: true,
						  }"
						:search-options="{
							enabled: true,
							placeholder: 'Search this table',
						  }"
						:columns="columns"
						:rows="rows"
					>
						<template slot="table-row" slot-scope="props">
							<span v-if="props.column.field === 'trans_id'">
								<span v-if="props.row.trans_id === null" class="uk-label md-bg-grey-600">belum di proses</span>
								<span v-else>{{props.row.trans_id}}</span>
<!--							  <span style="font-weight: bold; color: blue;">{{currencyFormat2(props.row.total, '')}}</span>-->
							  <span></span>
							</span>
							<span v-if="props.column.field === 'no_order'">
								<nuxt-link :to="'order/details/' + props.row.order_detail_id">
<!--								<nuxt-link :to="'order/details/' + 'kLRh2kWI'">-->
									{{ props.row.no_order }}
								</nuxt-link>
							  <span></span>
							</span>
							<span v-else-if="props.column.field === 'payment_status'">
									<span v-if="props.row.payment_status === 'paid'" class="uk-label md-bg-green-600">{{props.row.payment_status}}</span>
								 	<span v-else-if="props.row.payment_status === 'pending'" class="uk-label md-bg-cyan-600">{{props.row.payment_status}}</span>
								  	<span v-else class="uk-label md-bg-red-600">{{props.row.payment_status}}</span>
								</span>
							<span v-else-if="props.column.field === 'order_at'">
								  <span>{{parseLocalTime(props.row.order_at)}}</span>
								</span>
							<span v-else-if="props.column.field === 'paid_date'">
								  <span v-if="props.row.paid_date === 'Invalid date'" class="uk-label md-bg-grey-600">belum bayar</span>
								<span v-else><strong>{{parseLocalTime(props.row.paid_date)}}</strong></span>
								</span>
<!--							<span v-else-if="props.column.field === 'trx_status'">-->
<!--&lt;!&ndash;								 	<span v-if="props.row.trx_status === 'settlement'"><a data-uk-tooltip="Verified" @click="setSettleOrUnsettle(props.row)" href="javascript:void(0)" class="mdi mdi-shield-check-outline md-color-light-green-600"></a></span>&ndash;&gt;-->
<!--								&lt;!&ndash;								 	<span v-else-if="props.row.trx_status === 'pending'"><a data-uk-tooltip="Unverified" @click="setSettleOrUnsettle(props.row)" href="javascript:void(0)" class="mdi mdi-shield-off-outline"></a></span>&ndash;&gt;-->
<!--								&lt;!&ndash;								  	<span v-else></span>&ndash;&gt;-->
<!--									<span v-if="props.row.trx_status === 'settlement'"><a data-uk-tooltip="Download Receipt" @click="setSettleOrUnsettle(props.row)" href="javascript:void(0)" class="mdi mdi-file-pdf-box-outline md-color-red-600"></a></span>-->
<!--									<span v-else></span>-->
<!--							</span>-->
							<span v-else>
								  {{props.formattedRow[props.column.field]}}
								</span>
						</template>
						<template slot="table-column" slot-scope="props">
							 <span v-if="props.column.label === 'Action'">
								<i class="mdi mdi-file-outline sc-icon-square"></i> {{props.column.label}}
							 </span>
							<span v-else>
								{{props.column.label}}
							 </span>
						</template>
					</VueGoodTable>
				</ScCardBody>
			</ScCard>
		</div>
	</div>
</template>

<script>
	import 'vue-good-table/dist/vue-good-table.css'
	import { VueGoodTable } from 'vue-good-table';
	import { mapGetters } from 'vuex'
	export default {
		components: {
			VueGoodTable
		},
		async asyncData(context){
			const listItems = await context.$axios.get('transaction/order/list/page=1/limit=10/column-sort=id/sort=desc')
			// console.log(listItems.data)
			return {
				listItemTable: listItems.data,
				// listBranch: listBranch.data.data,
				// arrBranch: arrBranch,
				// // header: Object.keys(listSc.data.data[0]),
				// paginate: listTechnician.data.paginate
			}
		},
		data: () => ({
			isLoading: false,
			progress: false,
			totalRecords: 0,
			serverParams: {
				columnFilters: {
				},
				sort: {
					field: 'id',
					type: 'desc',
				},
				page: 1,
				perPage: 10,
				searchVal: ''
			},
			columns: [
				{
					label: 'No Order',
					field: 'no_order',
					// filterOptions: {
					// 	enabled: true
					// }
				},
				{
					label: 'Email',
					field: 'email',
					// type: 'number',
					thClass: 'uk-text-right',
					// filterOptions: {
					// 	enabled: true
					// }
				},
				{
					label: 'Trx ID',
					field: 'trans_id',
					// filterOptions: {
					// 	enabled: true
					// }
				},
				{
					label: 'Order Date',
					field: 'order_at',
					type: 'datetime',
					dateInputFormat: 'yyyy-mm-dd',
					dateOutputFormat: 'MMM do yyyy',
					thClass: 'uk-text-right',
				},
				{
					label: 'Payment Date',
					field: 'paid_date',
					type: 'datetime',
					dateInputFormat: 'yyyy-mm-dd',
					dateOutputFormat: 'MMM do yyyy',
					thClass: 'uk-text-right',
				},
				// {
				// 	label: 'Nominal',
				// 	field: 'total',
				// 	type: 'number',
				// 	thClass: 'uk-text-right',
				// },
				{
					label: 'Trx Status',
					field: 'payment_status',
					// filterOptions: {
					// 	enabled: true,
					// 	filterDropdownItems: ['settlement', 'unverification', 'failure']
					// }
				},
				// {
				// 	// label: 'Action',
				// 	field: 'trx_status',
				// 	sortable: false
				// },
				// {
				// 	label: 'Percent',
				// 	field: 'score',
				// 	type: 'percentage',
				// 	thClass: 'uk-text-right'
				// },
			],
			rows: [
				{ id:1, name:"John", age: 20, createdAt: '2019-10-12', score: 0.241 },
				{ id:2, name:"Jane", age: 24, createdAt: '2019-10-31', score: 0.03343 },
				{ id:3, name:"Susan", age: 16, createdAt: '2019-10-14', score: 1.00 },
				{ id:4, name:"Chris", age: 55, createdAt: '2019-10-11', score: 0.081 },
				{ id:5, name:"Dan", age: 40, createdAt: '2019-10-25', score: 0.052 },
				{ id:6, name:"John", age: 20, createdAt: '2019-10-30', score: 0.0012 },
			],
		}),
		computed: {
			...mapGetters({
				issues: 'issues/issues'
			}),
		},
		methods: {
			manualUpdatePaymentStatus(status){
				return status === 'paid' ? 'PENDING' : 'PAID'
			},
			onRowDoubleClick(params){

				const self = this;
				let index = this.listItemTable.data.map(function (item) {
					return item.id
				}).indexOf(params.row.id);
				// console.log(params)

				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to change payment status <strong>'+ params.row.no_order +'</strong> to <strong>'+ this.manualUpdatePaymentStatus(params.row.payment_status) +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Change'
					}
				}).then(async function () {
					// DELETED
					await self.$store.dispatch('transaction/manualUpdatePaymentStatus', params.row)
						.then((res) => {
							if (res.success){
								console.log(res)
								setTimeout(() => {
									// self.listItemTable.data.splice(index, 1);
									params.row.payment_status === 'paid' ? self.listItemTable.data[index].payment_status = 'pending' : self.listItemTable.data[index].payment_status = 'paid'
									// self.loadItems(false);
								}, 300);
							}
						})
					// e.target.closest('td').classList.add("uk-animation-reverse", "uk-animation-slide-right");

					// DELETE FUNC

				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// alert('open details')
			},
			onSearch(params) {
				this.updateParams({searchVal: params.searchTerm, page: 1});
				if (params.searchTerm.length > 2){
					this.loadItems(true);
				}else if (params.searchTerm.length === 0){
					this.loadItems((false))
				}
				// params.searchTerm - term being searched for
				// params.rowCount - number of rows that match search
			},
			updateParams(newProps) {
				this.serverParams = Object.assign({}, this.serverParams, newProps);
				// console.log(this.serverParams)
			},
			// load items is what brings back the rows from server
			loadItems(isSearch) {
				if(isSearch){
					this.$store.dispatch('transaction/getListSearchOrder', this.serverParams)
						.then((res) => {
							this.totalRecords =res.paginate.totalRow
							this.rows = res.data
							this.isLoading = false
							// console.log(res)
						})
				}else{
					this.$store.dispatch('transaction/getListOrder', this.serverParams)
						.then((res) => {
							this.totalRecords =res.paginate.totalRow
							this.rows = res.data
							this.isLoading = false
								// console.log(res)
						})
				}
			},
			onPageChange(params){
				this.updateParams({page: params.currentPage});
				this.loadItems(false);
			},
			onSortChange(params){
				this.updateParams({
					sort: {
						type: params[0].type,
						field: params[0].field,
					},
				});
				this.loadItems(false);
			},
			onColumnFilter(params){
				// params.columnFilters - filter values for each column in the following format:
				// {field1: 'filterTerm', field3: 'filterTerm2')
				//console.log(params)
			},
			onPerPageChange(params){
				this.updateParams({perPage: params.currentPerPage});
				this.loadItems(false);
			},
			onSelectChanged (params) {
				const selectedIds = params.selectedRows.reduce((acc, row) => {
					acc.push(row.id);
					return acc;
				}, []);
				// console.log(params.selectedRows);
				// console.log(selectedIds);
			},
			issueIdSort (x, y, col, rowX, rowY) {
				const _x = parseInt(x.replace("sc-", ""));
				const _y = parseInt(y.replace("sc-", ""));
				return (_x < _y ? -1 : (_x > _y ? 1 : 0));
			}
		},
		created(){
			this.totalRecords = this.listItemTable.paginate.totalRow
			this.rows = this.listItemTable.data
		}
	}
</script>

<style lang="scss">
	@import '~scss/plugins/vue-good-table.scss';
</style>
