<template xmlns:v-quill="http://www.w3.org/1999/xhtml">
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
						</legend>
						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<label class="uk-form-label">
									Master Damage Type
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											@change="onChangeDamageList"
											v-model="mData.id_type_of_damage"
											:options="typeOfDamageList"
											:settings="{ 'width': '100%', 'placeholder': 'Select a Type of Damage...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
							<div>
								<label class="uk-form-label">
									Device Brand
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											@change="onChangeDevBrand"
											v-model="mData.id_device_brand"
											:options="deviceBrandList"
											:settings="{ 'width': '100%', 'placeholder': 'Select a Type of Damage...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
							<div>
								<label class="uk-form-label">
									Device Type
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											:disabled="deviceTypeDisabled"
											v-model="mData.id_device_type"
											:options="listDeviceType"
											:settings="{ 'width': '100%', 'placeholder': 'Select a Type of Damage...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
						</div>
						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div class="uk-width-3-3@m">
								<label class="uk-form-label">
									Damage Type Description
								</label>
								<code>Di mohon untuk tidak menggunakan variable \n di text editor ini, gunakan bullet dan numbering yang tersedia.</code>
								<client-only>
									<div v-quill:myQuillEditor="editorOption"
										 class="quill-editor"
										 :content="mData.desc"
										 @change="onEditorChange($event)"
										 @blur="onEditorBlur($event)"
										 @focus="onEditorFocus($event)"
										 @ready="onEditorReady($event)"
									>
									</div>
								</client-only>
							</div>
						</div>
						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div class="uk-width-2-3@m">
								<ScInput v-model="mData.service_type" read-only>
									<label>Service Type <small>*auto generated</small></label>
								</ScInput>
<!--								<ScInput v-model="mData.desc">-->
<!--									<label>Damage Type Description</label>-->
<!--								</ScInput>-->
							</div>
							<div class="uk-width-1-3@m">
								<ScInput v-model="mData.price" v-money="inputFormat">
									<label>Price</label>
								</ScInput>
<!--								<label class="uk-form-label">-->
<!--									Damage Type-->
<!--								</label>-->
<!--								<div class="uk-form-controls">-->
<!--									<client-only>-->
<!--										<Select2-->
<!--											v-model="mData.id_type_of_damage"-->
<!--											:options="typeOfDamageList"-->
<!--											:settings="{-->
<!--												'width': '100%',-->
<!--												'placeholder': 'Select a Type of Damage...',-->
<!--									dsadk			allowClear: true-->
<!--												}"-->
<!--										></Select2>-->
<!--									</client-only>-->
<!--								</div>-->
							</div>
						</div>
					</fieldset>
				</form>
			</ScCard>
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark">
				<i class="mdi mdi-checkbox-marked-circle-outline"></i>
			</a>
		</div>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/quill');
		require('~/plugins/inputmask');
		require('~/plugins/v-money');
		require('~/assets/js/vendor/jquery.creditCardValidator.js');
		require('~/plugins/gmaps')
	}
	export default {
		components: {
			Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
		},
		async asyncData(context){
			const listTypeOfDamage = await context.$axios.get('masterdata/damage-type/list/type-of-damage/page=1/limit=100/column-sort=id/sort=desc')
			const listDeviceBrand = await context.$axios.get('masterdata/device/brand/list/page=1/limit=100/column-sort=id/sort=desc')
			const listDeviceType = await context.$axios.get('masterdata/device/type/list/page=1/limit=100/column-sort=id/sort=desc')
			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			if (context.params.id === 'add'){
				return {
					listData: listData,
					editedIndex: editedIndex,
					listTypeOfDamage: listTypeOfDamage.data.data,
					listDeviceBrand: listDeviceBrand.data.data,
					listDeviceType: listDeviceType.data.data
				}
			}else{
				listData = await context.$axios.get(`masterdata/damage-type/list/id=${context.params.id}/page=1/limit=10/sort=desc`)
				editedIndex = 1
				return {
					listData: listData.data.data[0],
					editedIndex: editedIndex,
					listTypeOfDamage: listTypeOfDamage.data.data,
					listDeviceBrand: listDeviceBrand.data.data,
					listDeviceType: listDeviceType.data.data
				}
			}
		},
		data: () => ({
			editorOption: {
				placeholder: 'Enter damage type description here',
				modules: {
					toolbar: [
						['bold', 'italic', 'underline', 'strike'],
						['blockquote', 'code-block'],
						[{ 'header': 1 }, { 'header': 2 }],
						[{ 'list': 'ordered' }, { 'list': 'bullet' }],
						[{ 'script': 'sub' }, { 'script': 'super' }],
						[{ 'indent': '-1' }, { 'indent': '+1' }],
						[{ 'direction': 'rtl' }],
						[{ 'size': ['small', false, 'large', 'huge'] }],
						[{ 'header': [1, 2, 3, 4, 5, 6, false] }],
						[{ 'font': [] }],
						[{ 'color': [] }, { 'background': [] }],
						[{ 'align': [] }],
						['clean'],
						// ['link', 'image', 'video']
					],
					imageResize: true
				}
			},
			inputFormat: {},
			mData: {
				id_type_of_damage: '',
				id_device_brand: '',
				id_device_type: '',
				desc: '',
				price: '',
				service_type: '',
			},
			listDeviceType: []
		}),
		created	(){
			if (this.listData !== null){
				this.mData = {
					id: this.listData.id,
					id_type_of_damage: this.listData.id_type_of_damage.toString(),
					id_device_brand: this.listData.device_brand_id.toString(),
					id_device_type: this.listData.device_type_id.toString(),
					desc: this.listData.damage_desc,
					price: this.listData.price.toString(),
					service_type: this.listData.service_type === 'on_site' ? 'On Site Customer' : 'On Service Center'
				}
				this.onChangeDevBrand()
			}
		},
		computed: {
			deviceTypeDisabled () {
				return this.mData.id_device_brand === '' || this.mData.id_device_brand === null;
			},
			typeOfDamageList () {
				return this.listTypeOfDamage.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});

			},
			deviceBrandList () {
				return this.listDeviceBrand.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			deviceTypeList () {
				return this.listDeviceType.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});
			},
			formTitle(){
				return this.editedIndex === -1 ? 'Add damage type' : 'Edit damage type'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"></i>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"></i>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"></i>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"></i>'
			},
		},
		methods: {
			onEditorBlur (editor) {
				console.log('editor blur!', editor)
			},
			onEditorFocus (editor) {
				console.log('editor focus!', editor)
			},
			onEditorReady (editor) {
				console.log('editor ready!', editor)
			},
			onEditorChange (event) {
				if (event.text.includes('\\n')){
					alert('Jangan gunakan lagi text "\\n", Gunakan bullet dan numbering yang tersedia di editor!')
				}
				// console.log(event.text.includes('\\n'))
				console.log('editor change!', event.editor, event.html, event.text);
				this.mData.content = event.text
				this.mData.desc = event.html
			},
			onChangeDamageList(){
				// console.log(this.mData.id_type_of_damage)
				// console.log(this.listTypeOfDamage.find(obj => obj.id === parseInt(this.mData.id_type_of_damage)).service_type)
				let serviceType = this.listTypeOfDamage.find(obj => obj.id === parseInt(this.mData.id_type_of_damage)).service_type

				serviceType === 'on_site' ? this.mData.service_type = 'On Site Customer' : this.mData.service_type = 'On Service Center'

			},
			onChangeDevBrand(){
				if (this.mData.id_device_brand !== null || this.mData.id_device_brand !== ''){
					this.$store.dispatch('masterdata/getListDeviceTypeByBrandId', this.mData.id_device_brand)
						.then((res) => {
							this.listDeviceType = res.data.map(function (obj) {
								obj.id = obj.id || obj.id;
								obj.text = obj.name || obj.name;
								return obj;
							});
							// console.log(this.listDeviceType)
						})
				}
				// console.log(this.mData.id_device_brand)
			},
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('masterdata/safeDeleteTypeOfDamage', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.$nuxt.$router.push('/masterdata/damage/type-of-damage')
			},
			submit(){
				// console.log(this.mData)
				let textNotifSucced = 'Add Type of Damage Success'
				let textNotifFailed = 'Add Type of Damage Failed'
				let actions = 'addTypeOfDamage'
				if (this.editedIndex !== -1){
					textNotifSucced = 'Update Type of Damage Success'
					textNotifFailed = 'Update Type of Damage Failed'
					actions = 'editTypeOfDamage'
				}
				// this.editedIndex === -1 ? textNotifSucced = 'Add Service Center Success' : textNotifFailed = 'Update Service Center Success'
				this.$store.dispatch('masterdata/'+actions, this.mData)
					.then((res) => {
						if(res.success){
							this.mData = {}
							this.showNotification(textNotifSucced, false, 'success')
							this.$nuxt.$router.push('/masterdata/damage/type-of-damage')

							// console.log(res.success)
						}else{
							this.showNotification(textNotifFailed, false, 'danger')
						}

					})
					.catch((err) => {
						console.log(err)
					})
			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
