<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
						</legend>
						<div class="uk-child-width-1-4@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.name">
									<label>Sparepart Name</label>
								</ScInput>
							</div>
							<div>
								<label class="uk-form-label">
									Type of damage
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											id="damage_type"
											v-model="mData.mst_damage_type_id"
											:options="typeOfDamageList"
											:settings="{ 'width': '100%', 'placeholder': 'Select a damage type...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
							<div>
								<label class="uk-form-label">
									Device Type
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											id="device_type"
											v-model="mData.devices_type_id"
											:options="deviceTypeList"
											:settings="{ 'width': '100%', 'placeholder': 'Select a device...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
							<div>
								<ScInput v-model="mData.price" v-money="inputFormat">
									<label>Price</label>
								</ScInput>
							</div>
						</div>
						<div class="uk-child-width-1-1@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.detail">
									<label>Detail</label>
								</ScInput>
							</div>
						</div>
						<div class="uk-child-width-1-4@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.img_url">
									<label>Image</label>
								</ScInput>
							</div>
						</div>
					</fieldset>
				</form>
			</ScCard>
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark">
				<i class="mdi mdi-checkbox-marked-circle-outline"></i>
			</a>
		</div>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/assets/js/vendor/jquery.creditCardValidator.js');
		require('~/plugins/gmaps')
		require('~/plugins/v-money');
	}
	export default {
		components: {
			Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
		},
		async asyncData(context){
			const listTypeOfDamage = await context.$axios.get('masterdata/damage-type/list/type-of-damage/page=1/limit=100000/column-sort=id/sort=desc')
			const listDeviceBrand = await context.$axios.get('masterdata/device/brand/list/page=1/limit=100000/column-sort=id/sort=desc')
			const listDeviceType = await context.$axios.get('masterdata/device/type/list/page=1/limit=100000/column-sort=id/sort=desc')
			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			if (context.params.id === 'add'){
				return {
					listData: listData,
					editedIndex: editedIndex,
					listTypeOfDamage: listTypeOfDamage.data.data,
					listDeviceBrand: listDeviceBrand.data.data,
					listDeviceType: listDeviceType.data.data
				}
			}else{
				listData = await context.$axios.get(`masterdata/sparepart/list/id=${context.params.id}/page=1/limit=1000/sort=desc`)
				editedIndex = 1
				return {
					listData: listData.data.data[0],
					editedIndex: editedIndex,
					listTypeOfDamage: listTypeOfDamage.data.data,
					listDeviceBrand: listDeviceBrand.data.data,
					listDeviceType: listDeviceType.data.data
				}
			}
		},
		data: () => ({
			inputFormat: {},
			mData: {
				mst_damage_type_id: '',
				devices_type_id: '',
				name: '',
				detail: '',
				img_url: '',
				price: '',
			},
		}),
		mounted(){

		},
		created	(){
			if (this.listData !== null){
				this.mData = {
					id: this.listData.id,
					name: this.listData.name,
					mst_damage_type_id: this.listData.mst_damage_type_id.toString(),
					detail: this.listData.detail,
					img_url: this.listData.img_url,
					devices_type_id: this.listData.devices_type_id.toString(),
					price: this.listData.price.toString(),
				}
			}
		},
		computed: {
			typeOfDamageList () {
				return this.listTypeOfDamage.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});

			},
			deviceBrandList () {
				return this.listDeviceBrand.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.text || obj.name;
					return obj;
				});

			},
			deviceTypeList () {
				return this.listDeviceType.map(function (obj) {
					obj.id = obj.id || obj.id;
					obj.text = obj.device_brand_name + ` - ` +  obj.name;
					// console.log(obj)
					return obj;
				});
			},
			formTitle(){
				return this.editedIndex === -1 ? 'Add Sparepart' : 'Edit Sparepart'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"></i>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"></i>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"></i>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"></i>'
			},
		},
		methods: {
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('masterdata/safeDeleteSparepart', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.$nuxt.$router.push('/masterdata/sparepart')
			},
			submit(){
				// console.log()
				let textNotifSucced = 'Add Sparepart Success'
				let textNotifFailed = 'Add Sparepart Failed'
				let actions = 'addSparepart'
				if (this.editedIndex !== -1){
					textNotifSucced = 'Update Sparepart Success'
					textNotifFailed = 'Update Sparepart Failed'
					actions = 'editSparepart'
				}
				// this.editedIndex === -1 ? textNotifSucced = 'Add Service Center Success' : textNotifFailed = 'Update Service Center Success'
				// console.log(this.scData)
				this.$store.dispatch('masterdata/'+actions, this.mData)
					.then((res) => {
						if(res.success){
							this.mData = {}
							this.showNotification(res.message, false, 'success')
							this.$nuxt.$router.push('/masterdata/sparepart')

							// console.log(res.success)
						}else{
							this.showNotification(res.message, false, 'danger')
						}

					})
					.catch((err) => {
						console.log(err)
					})
			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
