<template>
	<aside id="sc-sidebar-main">
		<div id="sc-sidebar-main-offcanvas-bar" class="uk-offcanvas-bar">
			<ScMenuList :menu-data="sidebarEntries" :is-parent="true"></ScMenuList>
		</div>
		<div class="sc-sidebar-info">
			version: {{ vxAppVersion }}
		</div>
	</aside>
</template>

<script>
	import {mapState} from 'vuex'
	import ScMenuList from './navigation/MenuList';
	import {scMq} from '~/assets/js/utils'
	import {menuEntries} from './navigation/sidebar_menu'
	import {adminRulesEntries} from './navigation/admin_rules'

	export default {
	components: {
		ScMenuList
	},
	data: () => ({
		menuEntries,
		adminRulesEntries,
		sidebarEntries: menuEntries
	}),
	computed: mapState([
		'vxSidebarMainExpanded',
		'vxAppVersion'
	]),
	watch: {
		'vxSidebarMainExpanded' (state) {
			if(scMq.mediumMax()) {
				if (state) {
					UIkit.offcanvas('#sc-sidebar-main').show();
					if(this.$store.getters.offcanvasState) {
						this.$store.commit('offcanvasToggle', false);
					}
				} else {
					UIkit.offcanvas('#sc-sidebar-main').hide();
				}
			}
		},
		$route () {
			if(scMq.mediumMax()) {
				this.$store.commit('sidebarMainToggle', false);
			}
		}
	},
	mounted () {
		// this.sidebarRules()
		const self = this;
		if(scMq.mediumMax()) {
			// activate UIKit offcanvas
			UIkit.offcanvas(document.getElementById('sc-sidebar-main'), {
				overlay: true,
				container: '#nuxt-wrapper'
			});
			self.$store.commit('sidebarMainToggle', false);
		}
	},
	created(){
		this.sidebarRules()
	},
	methods: {
		sidebarRules(){
			this.sidebarEntries = menuEntries
			if (this.$store.state.auth.user.is_super_admin === 1){
				Object.entries(this.sidebarEntries)[5][1].submenu.splice(3, 0, adminRulesEntries[0])
			}else{
				// Object.entries(this.sidebarEntries)[5][1].submenu.filter(r => r.title !== 'Admin')
				Object.entries(this.sidebarEntries)[5][1].submenu = Object.entries(this.sidebarEntries)[5][1].submenu.filter(r => r.title !== 'Admin')
				// console.log(Object.entries(this.sidebarEntries)[5][1].submenu.filter(r => r.title !== 'Admin'))
			}
		}
	}
}
</script>
`
<style>
</style>
