<template xmlns:v-quill="http://www.w3.org/1999/xhtml">
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
						</legend>
						<div class="uk-child-width-1-3@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.title">
									<label>Title Content</label>
								</ScInput>
							</div>
							<div>
								<label class="uk-form-label">
									Content Type
								</label>
								<div class="uk-form-controls">
									<client-only>
										<Select2
											v-model="mData.type"
											:options="['banner', 'article']"
											:settings="{ 'width': '100%', 'placeholder': 'Select a content type...', allowClear: true }"
										></Select2>
									</client-only>
								</div>
							</div>
							<div>
								<ScInput v-model="mData.image" read-only>
									<label>Image Content <small>*auto generated</small></label>
								</ScInput>
							</div>
						</div>
						<div class="uk-child-width-1-1@m uk-flex uk-flex-bottom uk-grid" data-uk-grid>
							<div>
								<label class="uk-form-label">
									Content
								</label>
								<client-only>
									<div v-quill:myQuillEditor="editorOption"
										 class="quill-editor"
										 :content="mData.content"
										 @change="onEditorChange($event)"
										 @blur="onEditorBlur($event)"
										 @focus="onEditorFocus($event)"
										 @ready="onEditorReady($event)"
									>
									</div>
								</client-only>
							</div>
						</div>
					</fieldset>
				</form>
			</ScCard>
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
			<a href="javascript:void(0)" @click="addImage" class="sc-fab sc-fab-large md-bg-amber-600 sc-fab-dark" data-uk-tooltip="title: Add image content; pos: left">
				<i class="mdi mdi-image-plus"></i>
			</a>
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark" data-uk-tooltip="title: Cancel / Back; pos: left">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark" data-uk-tooltip="title: Submit; pos: left">
				<i class="mdi mdi-check"></i>
			</a>
		</div>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/plugins/quill');
	}
	export default {
		middleware: 'router-auth',
		components: {
			Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
		},
		async asyncData(context){
			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			if (context.params.id === 'add'){
				return {
					listData: listData,
					editedIndex: editedIndex,
				}
			}else{
				listData = await context.$axios.get(`masterdata/content/list/id=${context.params.id}/page=1/limit=10/sort=desc`)
				editedIndex = 1
				return {
					listData: listData.data.data[0],
					editedIndex: editedIndex,
				}
			}
		},
		async fetch({route, store}){
			// console.log(Object.entries(route.query).length === 0)
		},
		// validate({redirect, params}){
		// 	console.log(query, params)
		// 	return redirect('/masterdata/content')
		// },
		data: () => ({
			canDownload: false,
			// content: '<h1>Header</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur deleniti ducimus, eos fugit, mollitia neque praesentium quia quisquam quos sapiente voluptatem voluptatibus voluptatum. Assumenda consectetur deleniti doloremque fuga harum illum molestiae nisi possimus quidem vero. A accusantium alias aliquam animi cum doloremque eos est facilis illo, illum inventore ipsam itaque laboriosam maiores modi mollitia necessitatibus nemo non omnis perferendis quam quia, repellendus rerum vel veritatis voluptas voluptate?</p><p><a href="https://themeforest.com/" target="_blank">themeforest.com</a></p>',
			editorOption: {
				placeholder: 'Write a some content here...',
				modules: {
					toolbar: [
						['bold', 'italic', 'underline', 'strike'],
						['blockquote', 'code-block'],
						[{ 'header': 1 }, { 'header': 2 }],
						[{ 'list': 'ordered' }, { 'list': 'bullet' }],
						[{ 'script': 'sub' }, { 'script': 'super' }],
						[{ 'indent': '-1' }, { 'indent': '+1' }],
						[{ 'direction': 'rtl' }],
						[{ 'size': ['small', false, 'large', 'huge'] }],
						[{ 'header': [1, 2, 3, 4, 5, 6, false] }],
						[{ 'font': [] }],
						[{ 'color': [] }, { 'background': [] }],
						[{ 'align': [] }],
						['clean'],
						['link', 'image', 'video']
					],
					imageResize: true
				}
			},
			mData: {
				title: '',
				image: '',
				content: '',
				type: '',
			},
		}),
		created	(){
			if (this.$store.state.masterdata.tempImageFile){
				this.mData.image = this.$store.state.masterdata.tempImageFile.name
			}
			// console.log(process.env.SECRET_KEY)
			if (this.listData !== null){
				this.mData = {
					id: this.listData.id,
					title: this.listData.title,
					image: this.listData.image,
					content: this.listData.content,
					type: this.listData.type,
				}
			}
		},
		computed: {
			formTitle(){
				return this.editedIndex === -1 ? 'Add Content' : 'Edit Content'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"></i>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"></i>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"></i>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"></i>'
			},
		},
		methods: {
			addImage(){
				console.log(this.$route.params.id)
				// this.$store.commit('masterdata/updateStatusContent', this.$route.params.id)
				if (this.mData.image){
					location.href = `/masterdata/content/image_cropper?img=${this.mData.image}&id=${this.$route.params.id}`
				}else{
					location.href = `/masterdata/content/image_cropper?id=add`
				}
			},
			openModal(){
				UIkit.modal('#getCroppedCanvasModal').show();
			},
			onEditorBlur (editor) {
				// console.log('editor blur!', editor)
			},
			onEditorFocus (editor) {
				// console.log('editor focus!', editor)
			},
			onEditorReady (editor) {
				// console.log('editor ready!', editor)
			},
			onEditorChange (event) {
				// console.log('editor change!', event.editor, event.html, event.text);
				this.mData.content = event.html
			},
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('masterdata/safeDeleteContent', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.$nuxt.$router.push('/masterdata/content')
			},
			submit(){
				// console.log()
				let textNotifSucced = 'Add Content Success'
				let textNotifFailed = 'Add Content Failed'
				let actions = 'addContent'
				if (this.editedIndex !== -1){
					textNotifSucced = 'Update Content Success'
					textNotifFailed = 'Update Content Failed'
					actions = 'editContent'
				}
				// this.editedIndex === -1 ? textNotifSucced = 'Add Service Center Success' : textNotifFailed = 'Update Service Center Success'
				this.mData.file = this.$store.state.masterdata.tempImageFile
				this.$store.dispatch('masterdata/'+actions, this.mData)
					.then((res) => {
						if(res.success){
							this.mData = {}
							this.showNotification(textNotifSucced, false, 'success')
							this.$store.commit('masterdata/clearTempImageFile')
							this.$nuxt.$router.push('/masterdata/content')
						}else{
							this.showNotification(textNotifFailed, false, 'danger')
						}
					})
					.catch((err) => {
						console.log(err)
					})
			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
