<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
<!--			<div class="uk-animation-slide-left">-->
				<ScCard class="uk-margin-top">
					<form>
						<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
							<legend class="uk-legend">
								{{formTitle}}
							</legend>
							<div class="uk-child-width-1-2@m uk-grid" data-uk-grid>
								<div>
									<ScInput v-model="mData.name">
										<label>Name</label>
									</ScInput>
								</div>
								<div>
									<ScInput v-model="mData.address">
										<label>Address</label>
									</ScInput>
								</div>
								<div>
									<ScInput v-model="mData.city">
										<label>City</label>
									</ScInput>
								</div>
								<!--							<div>-->
								<!--								<ScInput v-model="userData.email" v-input-mask="{ 'alias': 'email' }">-->
								<!--									<label>Email</label>-->
								<!--								</ScInput>-->
								<!--							</div>-->
								<div>
									<ScInput v-model="mData.phone">
										<label>Phone Number</label>
									</ScInput>
								</div>
								<div>
									<ScInput v-model="mData.lat" readOnly>
										<label>Latitude</label>
									</ScInput>
								</div>
								<div>
									<ScInput v-model="mData.lng" readOnly>
										<label>Longtitude</label>
									</ScInput>
								</div>
							</div>
						</fieldset>
					</form>
				</ScCard>
				<ScCard class="uk-margin-top">
					<div class="uk-flex uk-flex-middle sc-padding sc-padding-medium-ends">
						<ScCardTitle class="uk-width-1-3">
							<client-only>
								<GmapAutocomplete :value="autocompleteVal"
												  placeholder="Find location"
												  :select-first-on-enter="true"
												  class="uk-input uk-form-small"
												  @place_changed="setPlace"
								>
								</GmapAutocomplete>
							</client-only>
						</ScCardTitle>
						<div class="uk-flex-1 uk-margin-left">
							<!--							<button class="sc-button sc-button-flat uk-modal-close" type="button">-->
							<!--								Search-->
							<!--							</button>-->
							<!--							Autocomplete-->
						</div>
					</div>
					<ScCardBody class="sc-padding sc-padding-remove-top">
						<client-only>
							<GmapMap
								:center="map4.center"
								:zoom="map4.zoom"
								:options="map4.options"
								class="sc-gmap"
							>
							</GmapMap>
						</client-only>
					</ScCardBody>
				</ScCard>
<!--			</div>-->
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark">
				<i class="mdi mdi-checkbox-marked-circle-outline"></i>
			</a>
		</div>
		<!--		MODAL DIALOG-->
		<div id="modal-default" data-uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<!--				<h2 class="uk-modal-title">-->
				<!--					Headline-->
				<!--				</h2>-->
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							Add Service Center
						</legend>
						<div class="uk-child-width-1-2@m uk-grid" data-uk-grid>
							<div>
								<ScInput v-model="mData.mName">
									<label>Name</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.address">
									<label>Address</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.city">
									<label>City</label>
								</ScInput>
							</div>
							<!--							<div>-->
							<!--								<ScInput v-model="userData.email" v-input-mask="{ 'alias': 'email' }">-->
							<!--									<label>Email</label>-->
							<!--								</ScInput>-->
							<!--							</div>-->
							<div>
								<ScInput v-model="mData.phone">
									<label>Phone Number</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.latitude">
									<label>Latitude</label>
								</ScInput>
							</div>
							<div>
								<ScInput v-model="mData.longtitude">
									<label>Longtitude</label>
								</ScInput>
							</div>
						</div>
					</fieldset>
				</form>
				<p class="uk-text-right">
					<button class="sc-button sc-button-flat uk-modal-close" type="button">
						Cancel
					</button>
					<button @click="submit" class="sc-button sc-button-primary uk-modal-close" type="button">
						Save
					</button>
				</p>
			</div>
		</div>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	import { ScProgressOverlay } from '~/components/progress'
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/assets/js/vendor/jquery.creditCardValidator.js');
		require('~/plugins/gmaps')
	}

	export default {
		components: {
			// Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
			ScProgressOverlay
		},
		async asyncData(context){
			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			// console.log(Object.keys(listSc.data.data[0]));
			// console.log(context.params)
			if (context.params.id === 'add'){
				return {
					listData: listData,
					editedIndex: editedIndex,
				}
				editedIndex = -1
			}else{
				listData =  await context.$axios.get(`masterdata/service-center/list/id=${context.params.id}/page=1/limit=5/sort=desc`)
				editedIndex = 1
				return {
					listData: listData.data.data[0],
					editedIndex: editedIndex,
				}
			}
		},
		data: () => ({
			cardProgress: false,
			lay: '',
			autocompleteVal: 'Jakarta',
			map4: {
				center: {
					lat: -6.2087634,
					lng: 106.84559899999999
				},
				zoom: 13
			},
			origin: [41.8902102, 12.4922309],
			destination: [41.8991632, 12.4730739],
			// mListSc: null,
			mData: {
				name: '',
				address: '',
				city: '',
				phone: '',
				lat: '',
				lng: '',
			},
		}),
		mounted(){

		},
		created	(){
			if (this.listData !== null){
				this.mData = {
					id: this.listData.id,
					name: this.listData.name,
					address: this.listData.address,
					city: this.listData.city,
					phone: this.listData.phone,
					lat: this.listData.coordinat.lat,
					lng: this.listData.coordinat.lng,
				}
				console.log(parseFloat(this.listData.coordinat.lat), parseFloat(this.listData.coordinat.lng))
				this.map4.center.lat = parseFloat(this.listData.coordinat.lat);
				this.map4.center.lng = parseFloat(this.listData.coordinat.lng);
				this.autocompleteVal = ''
			}
		},
		computed: {
			formTitle(){
				return this.editedIndex === -1 ? 'Add Service Center' : 'Edit Service Center'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"></i>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"></i>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"></i>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"></i>'
			},
		},
		methods: {
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('masterdata/safeDeleteServiceCenter', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.$nuxt.$router.push('/masterdata/service_center')
			},
			setPlace (place) {
				if(place) {
					console.log(place.geometry.location.lat(), place.geometry.location.lng())
					// https://www.google.com/maps/search/?api=1&query=<-3.3186067>,<114.59437839999998>
					this.mData.lat = place.geometry.location.lat().toString();
					// this.mData.lat = (Math.floor(place.geometry.location.lat()*1000+0.5)/1000).toString();
					this.mData.lng = place.geometry.location.lng().toString();
					// this.mData.lng = (Math.floor(place.geometry.location.lng()*1000+0.5)/1000).toString();
					this.map4.center.lat = place.geometry.location.lat();
					this.map4.center.lng = place.geometry.location.lng();
				}
			},
			submit(){
				// console.log(this.editedIndex)
				let textNotifSucced = 'Add Service Center Success'
				let textNotifFailed = 'Add Service Center Failed'
				let actions = 'addServiceCenter'
				if (this.editedIndex !== -1){
					textNotifSucced = 'Update Service Center Success'
					textNotifFailed = 'Update Service Center Failed'
					actions = 'editServiceCenter'
				}
				// this.editedIndex === -1 ? textNotifSucced = 'Add Service Center Success' : textNotifFailed = 'Update Service Center Success'
				// console.log(this.scData)
				this.$store.dispatch('masterdata/'+actions, this.mData)
					.then((res) => {
						if(res.success){
							// this.loadListSc(1)
							this.mData = {}
							this.showNotification(textNotifSucced, false, 'success')
							this.$nuxt.$router.push('/masterdata/service_center')
							// console.log(res)
							// console.log(res.success)
						}else{
							this.showNotification(textNotifFailed, false, 'danger')
						}

					})
					.catch((err) => {
						console.log(err)
					})
			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
