<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-content">
			<ScCard class="uk-margin-top">
				<form>
					<fieldset class="uk-fieldset uk-fieldset-alt md-bg-white sc-padding-medium">
						<legend class="uk-legend">
							{{formTitle}}
						</legend>
						<div class="uk-child-width-1-2@m uk-grid" data-uk-grid>
							<div class="uk-width-1-2@m">
								<ScInput v-model="mData.name">
									<label>Device Brand Name</label>
								</ScInput>
							</div>
							<div class="uk-width-1-2@m">
								<ScInput v-model="mData.img_url">
									<label>Device Image</label>
								</ScInput>
							</div>
						</div>
					</fieldset>
				</form>
			</ScCard>
		</div>
		<!--				FAB SUBMIT ADD SERVICE CENTER-->
		<div class="sc-fab-page-wrapper uk-animation-slide-right">
			<a href="javascript:void(0)" @click="bCancel" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark">
				<i class="mdi mdi-keyboard-backspace"></i>
			</a>
			<a href="javascript:void(0)" @click="submit" class="sc-fab sc-fab-large md-bg-light-green-700 sc-fab-dark">
				<i class="mdi mdi-checkbox-marked-circle-outline"></i>
			</a>
		</div>
	</div>
</template>

<script>
	import jQuery from '~/plugins/jquery'
	// const countries = require('~/data/common/countries.json');
	// const usStates = require('~/data/common/us_states.json');
	// const usCities = require('~/data/common/us_cities.json');
	import ScInput from '~/components/Input'
	import ScTextarea from '~/components/Textarea'
	// import PrettyRadio from 'pretty-checkbox-vue/radio';
	if(process.client) {
		require('~/plugins/inputmask');
		require('~/plugins/v-money');
		require('~/assets/js/vendor/jquery.creditCardValidator.js');
		require('~/plugins/gmaps')
	}
	export default {
		components: {
			Select2: process.client ? () => import('~/components/Select2') : null,
			Datatable: process.client ? () => import('~/components/datatables/Datatables') : null,
			ScInput,
			ScTextarea,
		},
		async asyncData(context){
			let listData = null
			let editedIndex = -1
			context.params.id === 'add' ? editedIndex = -1 : editedIndex = 1
			if (context.params.id === 'add'){
				return {
					listData: listData,
					editedIndex: editedIndex,
				}
			}else{
				listData = await context.$axios.get(`masterdata/device/brand/list/id=${context.params.id}/page=1/limit=10/sort=desc`)
				editedIndex = 1
				return {
					listData: listData.data.data[0],
					editedIndex: editedIndex,
				}
			}
		},
		data: () => ({
			inputFormat: {},
			mData: {
				name: '',
				img_url: '',
			},
			listDeviceType: []
		}),
		created	(){
			if (this.listData !== null){
				this.mData = {
					id: this.listData.id,
					name: this.listData.name,
					img_url: this.listData.img_url,
				}
				this.onChangeDevBrand()
			}
		},
		computed: {
			deviceTypeDisabled () {
				return this.mData.id_device_brand === '' || this.mData.id_device_brand === null;
			},
			formTitle(){
				return this.editedIndex === -1 ? 'Add Device Brand' : 'Edit Device Brand'
			},
			firstBtnText(){
				return '<i class="ico ico-prev-first"></i>'
			},
			lastBtnText(){
				return '<i class="ico ico-next-last"></i>'
			},
			nextText(){
				return '<i class="mdi mdi-chevron-right"></i>'
			},
			prevText(){
				return '<i class="mdi mdi-chevron-left"></i>'
			},
		},
		methods: {
			onChangeDevBrand(){
				if (this.mData.id_device_brand !== null || this.mData.id_device_brand !== ''){
					this.$store.dispatch('masterdata/getListDeviceTypeByBrandId', this.mData.id_device_brand)
						.then((res) => {
							this.listDeviceType = res.data.map(function (obj) {
								obj.id = obj.id || obj.id;
								obj.text = obj.name || obj.name;
								return obj;
							});
							// console.log(this.listDeviceType)
						})
				}
				// console.log(this.mData.id_device_brand)
			},
			deleteItem(e, row){
				const self = this;
				let index = this.listSc.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('masterdata/safeDeleteDevicebrand', row.id)
					e.target.closest('tr').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listSc.splice(index, 1);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			bCancel(){
				this.$nuxt.$router.push('/masterdata/device/device-brand')
			},
			submit(){
				// console.log()
				let textNotifSucced = 'Add Device Brand Success'
				let textNotifFailed = 'Add Device Brand Failed'
				let actions = 'addDeviceBrand'
				if (this.editedIndex !== -1){
					textNotifSucced = 'Update Device Brand Success'
					textNotifFailed = 'Update Device Brand Failed'
					actions = 'editDeviceBrand'
				}
				// this.editedIndex === -1 ? textNotifSucced = 'Add Service Center Success' : textNotifFailed = 'Update Service Center Success'
				this.$store.dispatch('masterdata/'+actions, this.mData)
					.then((res) => {
						if(res.success){
							this.mData = {}
							this.showNotification(res.message, false, 'success')
							this.$nuxt.$router.push('/masterdata/device/device-brand')

							// console.log(res.success)
						}else{
							this.showNotification(res.message, false, 'danger')
						}
					})
					.catch((err) => {
						console.log(err)
					})
			},
		}
	}
</script>

<style lang="scss">
	/*@import '~scss/vue/_pretty_checkboxes';*/
	/*@import "~scss/common/md_colors";*/
	/*@import "~scss/common/variables_mixins";*/
	/*@import "~scss/plugins/datatables";*/
</style>
