<template>
	<div id="sc-page-wrapper">
		<div id="sc-page-top-bar" class="sc-top-bar">
			<div class="sc-top-bar-content sc-padding-medium-top sc-padding-medium-bottom uk-flex-1">
				<div class="uk-flex-1">
					<h1 class="sc-top-bar-title">
						Service Center
					</h1>
					<span class="uk-text-muted">
						Raja Repair
					</span>
				</div>
				<div class="sc-actions uk-margin-left">
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-printer"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-archive"></a>
					<a href="javascript:void(0)" class="sc-actions-icon mdi mdi-dots-vertical"></a>
				</div>
			</div>
		</div>
		<div id="sc-page-content">
			<ScCard>
				<ScCardBody>
					<VueGoodTable
						mode="remote"
						@on-page-change="onPageChange"
						@on-sort-change="onSortChange"
						@on-column-filter="onColumnFilter"
						@on-per-page-change="onPerPageChange"
						@on-search="onSearch"
						@on-row-dblclick="onRowDoubleClick"
						:totalRows="totalRecords"
						:isLoading.sync="isLoading"
						:pagination-options="{
							enabled: true,
						  }"
						:search-options="{
							enabled: true,
							placeholder: 'Search this table',
						  }"
						:columns="columns"
						:rows="rows"
					>
						<template slot="table-row" slot-scope="props">
							<span v-if="props.column.field === 'id'">
								<span><a data-uk-tooltip="Edit" @click="mEdit(props.row)" href="javascript:void(0)" class="mdi mdi-pencil"></a></span>
								<span><a data-uk-tooltip="Delete"@click.prevent="deleteItem($event, props.row)" href="javascript:void(0)" class="mdi md-color-red-600 mdi mdi-delete"></a></span>
							</span>
							<span v-else>
								  {{props.formattedRow[props.column.field]}}
							</span>
						</template>
					</VueGoodTable>
				</ScCardBody>
			</ScCard>
		</div>
<!--		FAB BUTTON-->
		<div class="sc-fab-page-wrapper uk-animation-slide-left">
			<a href="javascript:void(0)" @click="mDetails" class="sc-fab sc-fab-large md-bg-light-blue-700 sc-fab-dark">
				<i class="mdi mdi-plus"></i>
			</a>
		</div>
	</div>
</template>

<script>
	import 'vue-good-table/dist/vue-good-table.css'
	import { VueGoodTable } from 'vue-good-table';
	import { mapGetters } from 'vuex'
	export default {
		components: {
			VueGoodTable
		},
		async asyncData(context){
			const listItems = await context.$axios.get('masterdata/service-center/list/page=1/limit=10/column-sort=id/sort=desc')
			// console.log(listItems.data)
			return {
				listItemTable: listItems.data,
			}
		},
		data: () => ({
			isLoading: false,
			progress: false,
			totalRecords: 0,
			serverParams: {
				columnFilters: {
				},
				sort: {
					field: 'id',
					type: 'desc',
				},
				page: 1,
				perPage: 10,
				searchVal: ''
			},
			columns: [
				{
					label: 'Name',
					field: 'name',
					// filterOptions: {
					// 	enabled: true
					// }
				},
				{
					label: 'Address',
					field: 'address',
					// type: 'number',
					// filterOptions: {
					// 	enabled: true
					// }
				},
				{
					label: 'City',
					field: 'city',
					// type: 'number',
					thClass: 'uk-text-right',
					// filterOptions: {
					// 	enabled: true
					// }
				},
				{
					label: 'Phone',
					field: 'phone',
					type: 'number',
					thClass: 'uk-text-right',
				},
				{
					// label: 'Action',
					field: 'id',
					sortable: false,
					width: '50px',
				},
				// {
				// 	label: 'Percent',
				// 	field: 'score',
				// 	type: 'percentage',
				// 	thClass: 'uk-text-right'
				// },
			],
			rows: [
				{ id:1, name:"John", age: 20, createdAt: '2019-10-12', score: 0.241 },
				{ id:2, name:"Jane", age: 24, createdAt: '2019-10-31', score: 0.03343 },
				{ id:3, name:"Susan", age: 16, createdAt: '2019-10-14', score: 1.00 },
				{ id:4, name:"Chris", age: 55, createdAt: '2019-10-11', score: 0.081 },
				{ id:5, name:"Dan", age: 40, createdAt: '2019-10-25', score: 0.052 },
				{ id:6, name:"John", age: 20, createdAt: '2019-10-30', score: 0.0012 },
			],
		}),
		computed: {
			// ...mapGetters({
			// 	issues: 'issues/issues'
			// }),
		},
		methods: {
			deleteItem(e, row){
				console.log(row.id, row)
				const self = this;
				let index = this.listItemTable.data.map(function (item) {
					return item.id
				}).indexOf(row.id);
				UIkit.modal.confirm('<p class="uk-text-large">Do you really want to delete <strong>'+ row.name +'</strong>?</p>', {
					'escClose': false,
					'labels': {
						'cancel': 'Cancel',
						'ok': 'Delete'
					}
				}).then(function () {
					// DELETED
					self.$store.dispatch('masterdata/safeDeleteServiceCenter', row.id)
					// e.target.closest('td').classList.add("uk-animation-reverse", "uk-animation-slide-right");
					setTimeout(() => {
						self.listItemTable.data.splice(index, 1);
						// self.loadItems(false);
					}, 300);
				}, function () {
					// CANCEL DELETE
					// console.log('Rejected.')
				});
				// this.$store.commit('masterdata/deleteSc')
				// this.promptNotification('Are you sure to delete this ?', false, 'info', true)
				// console.log(idx)
			},
			onRowDoubleClick(){
				alert('open details')
			},
			mDetails(){
				this.$nuxt.$router.push('service_center/details/add')
			},
			mEdit(item){
				this.$nuxt.$router.push(`service_center/details/${item.id}`)
				// console.log(item)
			},
			onSearch(params) {
				this.updateParams({searchVal: params.searchTerm, page: 1});
				if (params.searchTerm.length > 2){
					this.loadItems(true);
				}else if (params.searchTerm.length === 0){
					this.loadItems((false))
				}
				// params.searchTerm - term being searched for
				// params.rowCount - number of rows that match search
			},
			updateParams(newProps) {
				this.serverParams = Object.assign({}, this.serverParams, newProps);
				// console.log(this.serverParams)
			},
			// load items is what brings back the rows from server
			loadItems(isSearch) {
				if(isSearch){
					this.$store.dispatch('masterdata/getListSearchServiceCenter', this.serverParams)
						.then((res) => {
							this.totalRecords = res.paginate.totalRow
							this.rows = res.data
							this.isLoading = false
							// console.log(res)
						})
				}else{
					this.$store.dispatch('masterdata/getListServiceCenter', this.serverParams)
						.then((res) => {
							this.totalRecords = res.paginate.totalRow
							this.rows = res.data
							this.isLoading = false
							// console.log(res)
						})
				}

			},
			onPageChange(params){
				this.updateParams({page: params.currentPage});
				this.loadItems(false);
			},
			onSortChange(params){
				this.updateParams({
					sort: {
						type: params[0].type,
						field: params[0].field,
					},
				});
				this.loadItems(false);
			},
			onColumnFilter(params){
				// params.columnFilters - filter values for each column in the following format:
				// {field1: 'filterTerm', field3: 'filterTerm2')
				//console.log(params)
			},
			onPerPageChange(params){
				this.updateParams({perPage: params.currentPerPage});
				this.loadItems(false);
			},
			onSelectChanged (params) {
				const selectedIds = params.selectedRows.reduce((acc, row) => {
					acc.push(row.id);
					return acc;
				}, []);
				// console.log(params.selectedRows);
				// console.log(selectedIds);
			},
			issueIdSort (x, y, col, rowX, rowY) {
				const _x = parseInt(x.replace("sc-", ""));
				const _y = parseInt(y.replace("sc-", ""));
				return (_x < _y ? -1 : (_x > _y ? 1 : 0));
			}
		},
		created(){
			this.totalRecords = this.listItemTable.paginate.totalRow
			this.rows = this.listItemTable.data
		}
	}
</script>

<style lang="scss">
	@import '~scss/plugins/vue-good-table.scss';
</style>
